* @Loco-Software/Execs

src/ @Loco-Software/Developers @Loco-Software/code-reviewers 
docs/ @Loco-Software/Developers @Loco-Software/code-reviewers
.github/ @Loco-Software/cicd-administrators
License @Loco-Software/code-reviewers
Contributing.md @Loco-Software/Developers @Loco-Software/code-reviewers
Changelog.md @Loco-Software/Developers @Loco-Software/code-reviewers
